env:
  - name: CF_API_KEY
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: CF_API_KEY
  - name: CF_API_EMAIL
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: CF_API_EMAIL


logLevel: debug
domainFilters:
  - integratn.tech

provider:
  name: cloudflare

sources:
  - gateway-httproute

policy: sync
txtOwnerId: media-cluster
txtPrefix: media-

extraArgs:
  - --gateway-name=nginx-gateway


resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 500m
    memory: 500Mi